<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433436524534-j31svlo5iak0ng0f23803piditffboi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433436524534-j31svlo5iak0ng0f23803piditffboi8</string>
	<key>API_KEY</key>
	<string>AIzaSyCgX-c6oAVNe4lk5qV5kiX_a_S8cJ7oXX8</string>
	<key>GCM_SENDER_ID</key>
	<string>433436524534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stephensonang.savingsApp</string>
	<key>PROJECT_ID</key>
	<string>savings-71093</string>
	<key>STORAGE_BUCKET</key>
	<string>savings-71093.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433436524534:ios:c686a8922ab2426c6e51d7</string>
	<key>DATABASE_URL</key>
	<string>https://savings-71093.firebaseio.com</string>
</dict>
</plist>